extends layout

block content
 div
   form(method='post')
     div(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='email') email
            input(id='email',type='text',value='',placeholder='@',name='email')
     div(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='username') username
            input(id='username',type='text',value='',placeholder='@',name='username')
     div#passworddiv(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='password') password
            input(id='password',type='password',value='',placeholder='',name='password')
     div(id='hiddendiv',data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='password2') password2
            input(id='password2',type='password',value='',placeholder='',name='password2')
     div(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='country') country
            input(id='country',type='text',value='',placeholder='Enter Country',name='country')
     div(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='province') province
            input(id='province',type='text',value='',placeholder='Enter Province',name='province')
     div(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='city') city
            input(id='city',type='text',value='',placeholder='Enter City',name='city')
     div(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='street') street
            input(id='street',type='text',value='',placeholder='Enter Street',name='street')
     div(data-role='fieldcontain')
       fieldset(data-role='controlgroup')
         label(for='apartment') apartment
            input(id='apartment',type='text',value='',placeholder='Enter Apartment',name='apartment')
     div(data-role='fieldcontain')   
       input(type='submit',data-transition='fade', data-theme='c')
